# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - backend/*

pool:
  name: ubuntu-latest1

resources:
- repo: self

variables:
  group: AI-SECRETS
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '1a756c72-e765-4d76-bdbb-6a5d5bf4ac60'
  imageRepository: 'remotingai'
  containerRegistry: 'remoting.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/backend/dockerfile'
  buildContext: '$(Build.SourcesDirectory)/backend'
  tag: 'backend-dev-latest'
  SC: 'd01ccefb-f2da-4e1b-a7b0-35b38da0d007'
  DB_HOST: $(DB_HOST-G)
  DB_PASSWORD: $(DB_PASSWORD-G)
  DB_USER: $(DB_USER-G)
  DB_PORT: 3306
  DB_NAME: $(DB_NAME-G)
  CORE_APP_URL: $(CORE_APP_URL-G)
  STORAGE_BASE_URL: $(STORAGE_BASE_URL-G)
  SAS_TOKEN: $(SAS_TOKEN-G)
  FRONTEND_URL: $(FRONTEND_URL-G)
  # REFERER: $(REFERER-G)
  # OPENAI_API_KEY: $(OPENAI_API_KEY-G)
  # GROQ_API_KEY: $(GROQ_API_KEY-G)

  AZURE_STORAGE_CONNECTION_STRING: $(AZURE_STORAGE_CONNECTION_STRING-G)
  AZURE_STORAGE_ACCOUNT: $(AZURE_STORAGE_ACCOUNT-G)
  AZURE_STORAGE_ACCESS_KEY: $(AZURE_STORAGE_ACCESS_KEY-G)
  AZURE_STORAGE_DOMAINE: $(AZURE_STORAGE_DOMAINE-G)



steps:
- task: replacetokens@6
  inputs:
    root: '$(buildContext)'
    sources: '.env'
    tokenPattern: 'azpipelines'

- task: Docker@2
  displayName: 'Building the image'
  inputs:
    containerRegistry: '$(dockerRegistryServiceConnection)'
    repository: '$(imageRepository)'
    command: 'build'
    Dockerfile: '$(dockerfilePath)'
    buildContext: '$(buildContext)'
    tags: $(tag)

- script: |
    docker save $(containerRegistry)/$(imageRepository):$(tag) -o $(Build.ArtifactStagingDirectory)/$(tag).tar
  displayName: 'Save Docker image to tar file'

- task: PublishBuildArtifacts@1
  displayName: 'Publish build artifact'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'release'
    publishLocation: 'Container'
