detection.ipynb
yolov11-face.pt
keys.txt
Mee.jpg
Anaconda3-2024.10-1-Linux-x86_64.sh
Anaconda3-2024.10-1-Linux-x86_64.sh:Zone.Identifier
api 2.py
api 2.py:Zone.Identifier
api.py:Zone.Identifier
app.py:Zone.Identifier
dlib-19.24.99-cp312-cp312-win_amd64.whl
dlib-19.24.99-cp312-cp312-win_amd64.whl:Zone.Identifier
Mee.jpg:Zone.Identifier
My picture.jpg:Zone.Identifier
pete.jpg:Zone.Identifier
shawn.jpg:Zone.Identifier
yolov11n-face.pt:Zone.Identifier
app 3.py
app 3.py:Zone.Identifier
agents_note.ipynb
test_docs
app3.py
app3.py:Zone.Identifier
frontend/app1.py
frontend/.env:Zone.Identifier
backend/.env:Zone.Identifier
personality.ipynb
__pycache__/
backend/cv_agent/donwload_and_process_cv copy.py
.env
__pycache__/
.env
logs/
requirments_1.txt
requirments1.txt
backend/requirements_1.txt
backend/requirements1.txt
backend/.env.development
backend/env 4