o





pip install openai fastapi pydantic python-dotenv azure-storage-blob opencv-python
pip install mediapipe numpy
pip install livekit
pip install livekit-plugins-deepgram livekit-plugins-elevenlabs
uvicorn[standard]

pip install livekit-plugins-openai livekit-plugins-silero aiohttp requests humanfriendly
